apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # GitHub Actions will update this tag
        image: prajwalbudnur/my-backend:f82342417e293fb11e651c7df2d9d79c7529b845
        env:
        - name: REDIS_HOST
          value: "redis-service" # This connects it to Tier 3
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
